<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ssm.dao.AdminMapper">
    <!--<resultMap type="com.ssm.model.UserModel" id="userMap">-->
        <!--<result property="userName" column="username"/>-->
        <!--<result property="passWord" column="password"/>-->
    <!--</resultMap>-->

    <!--更新密码操作-->
    <update id="updatePassWord">
        update user_model set passWord=#{passWord} where id=#{id}
    </update>

    <!--mysql查询一条记录-->
    <select id="findUserByUserName" parameterType="com.ssm.model.UserModel" resultType="com.ssm.model.UserModel">
        SELECT * FROM user_model WHERE userName=#{userName}
    </select>

    <!--mysql查询多条记录-->
    <select id="getUserList" parameterType="com.ssm.model.UserModel" resultType="com.ssm.model.UserModel">
        SELECT * FROM user_model
    </select>

    <!--mysql添加一条记录-->
    <insert id="insertUser" parameterType="com.ssm.model.UserModel">
        insert into user_model(userName,passWord,mail,phone,auth) values (#{userName},#{passWord},#{mail},#{phone},#{auth})
    </insert>
</mapper>