<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ssm.dao.StudentMapper">

    <!--<resultMap type="Student" id="studentMap">-->
    <!--<result property="sname" column="sname"/>-->
    <!--<result property="kecheng" column="kecheng"/>-->
    <!--<result property="fenshu" column="fenshu"/>-->
    <!--</resultMap>-->

    <!-- 插入一条数据 -->
    <insert id="insertOne" parameterType="com.ssm.model.Student">
        insert into student(sname,kecheng,fenshu) values (#{sname},#{kecheng},#{fenshu})
    </insert>

    <!--oracle查询一条记录-->
    <select id="findStudentByUserName" parameterType="com.ssm.model.Student" resultType="com.ssm.model.Student">
        SELECT * FROM student WHERE sname=#{sname}
    </select>

    <select id="getList" resultType="com.ssm.model.Student">
        SELECT * FROM student
    </select>

</mapper>